header, nav, footer { display:block; clear:both}

/* show */
#show { background-color: white; padding : 5px; margin : 5px 10px; }

/* error */
#errorheader {background: red }
#errorcontent { padding : 5px }

/* entry */
#entrycontainer {margin : 0px 10px;}

/* face entry container */
.group_entry {
    float: left;  
    height:180px;
    width:100px; 
    border:1px solid #ccc; 
    border-radius:0px 10px 10px 0px;
    padding:5px;
    margin:2px; 
    background-color:#fff;
}
.group_entry:hover {
    background-color:#dddedd; 
}
.group_entry .title {
    font-weight:bold;
}

.facelist_entry {
    float: left;  
    height:160px;
    width:280px; 
    border:1px solid #ccc; 
    border-radius:0px 10px 10px 0px;
    padding:5px;
    margin:2px; 
    background-color:#fff;
}
.facelist_entry:hover {
    background-color:#dddedd; 
}
.facelist_entry .title {
    font-weight:bold;
}

.ed_computer {
    background: transparent url(../pix/icons/computer.png) 4px 4px no-repeat;
}
.ed_computer:hover {
    background: #ccc url(../pix/icons/computer.png) 4px 4px no-repeat;
}

