div#titlerow div.logo {position:absolute; left:40px; top:-10px}
div#titlerow div.logo a {font-size:25px; font-weight:bolder}
div#titlerow div.logo span {font-size:26px; font-weight:bold; width:500px; position: absolute; top: 30px; left: 120px;}

/* show */
#show {
  background-color: white;
  padding : 5px;
}

/* error */
div#errorheader {background: red }
div#errorcontent { padding : 5px }

/* entry */
div#entrycontainer {width:100%;}

/* face entry container */
div.facelist_entry {width:100%;}

div.facelist_entry {float: left; height:100px;width:360px; border:1px solid #ccc;border-radius:0px 10px 10px 0px;padding:5px;margin:5px; background-color:#fff;}
div.facelist_entry:hover {float: left; height:100px;width:360px; border:1px solid #ccc;border-radius:0px 10px 10px 0px;padding:5px;margin:5px:background-color:#dddedd; }

