{% extends "main.html" %}
{% block main %}
  <div id="show">
      {% if not device %}
        <p>No device in the DB.</p>
      {% else %}
        {% if device.platform == 'linux' %}
            <img src="/pix/computer_linux.png" align="left" class="photo" alt="computer" height="80" />
        {% endif %}
        {% if device.platform == 'win32' %}
            <img src="/pix/computer_win32.png" align="left" class="photo" alt="computer" height="80" />
        {% endif %}
        <h1>{{device.name}}</h1>
        <p>
        IP: {{ device.IP }}<br />
        MAC: {{ device.MAC }}
        </p>
        {% if latest.action == 0 %}
          {% if not latest.result %}
            <font color="green">UP</font>
          {% else %}
            <b>DOWN</b>
          {% endif %}
        {% endif %}
        {% if latest.action == 1 %}
            Wake UP...
        {% endif %}
        {% if latest.action == 2 %}
            Shutdown...
        {% endif %}
        {% if latest.action == 3 %}
            Rebooting...
        {% endif %}
        <br />
        <font size="-1">{{latest.timestamp}}</font><br />
        <a href="ping"><img src="/pix/icons/down.svg" class="photo" alt=" P " height="24" /></a>
        {% if latest.action == 0 %}
          {% if latest.result %}
             <a href="wol"><img src="/pix/icons/reveil.svg" class="photo" alt=" W " height="24" /></a>
          {% else %}
             <a href="pass"><img src="/pix/icons/shutdown.svg" class="photo" alt=" S " height="24" /></a>
             <a href="pass?reboot=1"><img src="/pix/icons/restart.svg" class="photo" alt=" R " height="24" /></a>
          {% endif %}
        {% endif %}
      {% endif %}
      <h2>History</h2>
      {% if not history %}
        <p>No history in the DB.</p>
      {% else %}
        {% for record in history %}
          {% if record.action == 0 %}
            Ping
          {% endif %}
          {% if record.action == 1 %}
            Wakeonlan
          {% endif %}
          {% if record.action == 2 %}
            Shutdown
          {% endif %}
          {% if record.action == 3 %}
            Reboot
          {% endif %}
          @ {{ record.timestamp }} -> {{ record.result }}<br />
        {% endfor %}
      {% endif %}
  </div>
{% endblock %}
