{% extends "main.html" %}
{% load i18n %}
{% block main %}
  <div id="show">
      {% if not device %}
        <p>{% trans "No device in the DB." %}</p>
      {% else %}
        {% if device.platform == 'linux' %}
            <img src="/pix/computer_linux.png" align="left" class="photo" alt="PC Linux" height="80" />
        {% else %}
          {% if device.platform == 'win32' %}
            <img src="/pix/computer_win32.png" align="left" class="photo" alt="PC Windows" height="80" />
          {% else %}
            <img src="/pix/computer.png" align="left" class="photo" alt="Mac" height="80" />
          {% endif %}
        {% endif %}
        <h1>{{device.name}}</h1>
        <p>
        IP: {{ device.IP }}<br />
        MAC: {{ device.MAC }}
        </p>
        {% if latest.action == 0 %}
          {% if not latest.result %}
            <font color="green">{% trans "ON" %}</font>
          {% else %}
            <font color="blue">{% trans "OFF" %}</font>
          {% endif %}
        {% endif %}
        {% if latest.action == 1 %}
            {% trans "Wake UP" %}...
        {% endif %}
        {% if latest.action == 2 %}
            {% trans "Shutdown" %}...
        {% endif %}
        {% if latest.action == 3 %}
            {% trans "Rebooting" %}...
        {% endif %}
        <br />
        <font size="-1">{{latest.timestamp}}</font><br />
        <a href="ping"><img src="/pix/icons/down.svg" alt=" P " height="32" /></a>
        {% if latest.action == 0 %}
          {% if latest.result %}
             <a href="wol"><img src="/pix/icons/reveil.svg" alt=" W " height="32" /></a>
          {% else %}
             <a href="pass"><img src="/pix/icons/shutdown.svg" alt=" S " height="32" /></a>
             <a href="pass?reboot=1"><img src="/pix/icons/restart.svg" alt=" R " height="32" /></a>
          {% endif %}
        {% endif %}
      {% endif %}
      <h2>{% trans "Power consumption" %}</h2>
      {% trans "Power" %} : {{ device.watt }} Watt<br />
      {% trans "Today" %} : {{ kwh_today }} Kwh<br />
      {% trans "Yesterday" %} : {{ kwh_day }} Kwh<br />
      {% trans "Last week" %} : {{ kwh_week }} Kwh<br />
      <h2>{% trans "History" %}</h2>
      {% if not history %}
        <p>{% trans "No history in the DB." %}</p>
      {% else %}
        <h3>{% trans "10 last actions" %}</h3>
        {% for record in history %}
          {{ record.get_action_display }} @ {{ record.timestamp }} -> {{ record.get_result_display }}<br />
        {% endfor %}
      {% endif %}
      <h3>{% trans "Ping history" %}</h3>
      {{ img|safe }}
  </div>
{% endblock %}
