{% extends "main.html" %}
{% load i18n %}
{% block head %}
    <title>Zen & TIC - Bodhi</title>
    <meta http-equiv="refresh" content="3600">
{% endblock %}
{% block main %}
  {% if not history %}
    <p>{% trans "No device in the DB." %}</p>
  {% else %}
    <div id="entrycontainer" class="clearfix">
    {% for device in history %}
    <div class="facelist_entry">
        <p class="title">{{device.device.name}}</p>
        <a href="{{device.device_id}}/">
        {% if device.device.platform == 'linux' %}
            <img src="/pix/computer_linux.png" align="left" class="photo" alt="PC Linux" height="80" />
        {% else %}
          {% if device.device.platform == 'win32' %}
            <img src="/pix/computer_win32.png" align="left" class="photo" alt="PC Windows" height="80" />
          {% else %}
            <img src="/pix/computer.png" align="left" class="photo" alt="Mac" height="80" />
          {% endif %}
        {% endif %}
        </a>
	{% if device.action == 0 %}
          {% if not device.result %}
            <font color="green">{% trans "ON" %}</font>
          {% else %}
            <font color="blue">{% trans "OFF" %}</font>
          {% endif %}
        {% endif %}
        {% if device.action == 1 %}
            {% trans "Wake UP" %} ...
        {% endif %}
        {% if device.action == 2 %}
            {% trans "Shutdown" %}...
        {% endif %}
        {% if device.action == 3 %}
            {% trans "Rebooting" %}...
        {% endif %}
        <br />
        <font size="-1">{{device.timestamp|timesince}}</font><br />
	<div class="action">
	    <a href="{{device.device_id}}/ping"><img src="/pix/icons/down.svg" alt=" P " height="32" /></a>
        </div>
    </div>
    {% endfor %}
    </div>
  {% endif %}
{% endblock %}
