{% extends "main.html" %}
{% block main %}	
  {% if not history %}
    <p>No device in the DB.</p>    
  {% else %}
    <div id="entrycontainer" class="clearfix"> 
    {% for device in history %}
    <div class="facelist_entry">
        <a href="{{device.device_id}}/"><img src="/pix/computer.png"
		       align="left" class="photo" alt="" height="80" />
        <p class="title">{{device.device.name}}</p></a>
        {% if device.action == 0 %}
          {% if not device.result %}
            <font color="green">UP</font>
          {% else %}
            <b>DOWN</b>
          {% endif %}
        {% endif %}
        {% if device.action == 1 %}
            Wake UP !
        {% endif %}
        <br />
        <font size="-1">{{device.timestamp|timesince}}</font><br />
        <a href="{{device.device_id}}/ping"><img src="/pix/icons/down.svg" alt=" P " height="24" /></a>
    </div>
    {% endfor %}
    </div>
  {% endif %}
{% endblock %}
