{% extends "main.html" %}
{% load i18n %}
{% block head %}
    <title>Zen&TIC - Bodhi</title>
    <meta http-equiv="refresh" content="180;url='/bodhi/{{device.id}}">
{% endblock %}
{% block main %}
  <div id="show">
      {% if not device %}
        <p>{% trans "No device in the DB." %}</p>
      {% else %}
        {% if device.platform == 'linux' %}
            <img src="/pix/computer_linux.png" align="left" class="photo" alt="PC Linux" height="80" />
        {% else %}
          {% if device.platform == 'win32' %}
            <img src="/pix/computer_win32.png" align="left" class="photo" alt="PC Windows" height="80" />
          {% else %}
            <img src="/pix/computer.png" align="left" class="photo" alt="Mac" height="80" />
          {% endif %}
        {% endif %}
        <h1><a href="/bodhi/{{device.id}}/">{{device.name}}</a></h1>
        <p>
        IP: {{ device.IP }}<br />
        MAC: {{ device.MAC }}
        </p>
        <center>
        <font size="+1">
        {% if latest.action == 0 %}
          {% if not latest.result %}
            <font color="green">{% trans "ON" %}</font>
          {% else %}
            <font color="blue">{% trans "OFF" %}</font>
          {% endif %}
        {% endif %}
        {% if latest.action == 1 %}
            {% trans "Wake UP" %}...
        {% endif %}
        {% if latest.action == 2 %}
            {% trans "Shutdown" %}...
        {% endif %}
        {% if latest.action == 3 %}
            {% trans "Rebooting" %}...
        {% endif %}
        </font>
        <br />
        <font size="-1">{{latest.timestamp}}</font><br />
        {% trans "Ping machine in 180 seconds..." %}
        </center>
      {% endif %}
  </div>
{% endblock %}
