{% extends "main.html" %}
{% block main %}
  {% if not latest %}
    <p>Device not in the DB.</p>
  {% else %}
    <img src="/pix/computer.png" align="left" alt="computer" height="80" />
    <h1>{{latest.device.name}}</h1>
    {% if reboot %}
        Reboot ?
    {% else %}
        Shutdown ?
    {% endif %}
    <form action="/bodhi/{{ latest.device.id }}/shutdown" method="post">
        User : <input type="text" name="user" /><br />
        Password : <input type="password" name="password" /><br />
        Message : <input type="text" name="message" /><br />
        Reboot :
        {% if reboot %}
            <input type="checkbox" name="reboot" checked="checked" /><br />
        {% else %}
            <input type="checkbox" name="reboot" /><br />
        {% endif %}
        <input type="submit" value="Send" />
    </form>
    <br />
    <br />
    <form action="/bodhi/{{ device.device.id }}/" method="post">
        <input type="submit" value="Cancel" />
    </form>  {% endif %}
{% endblock %}
