{% extends "main.html" %}
{% load i18n %}
{% block head %}
    <title>Zen & TIC - Bodhi</title>
    <meta http-equiv="refresh" content="3600">
{% endblock %}
{% block main %}
    <div id="entrycontainer" class="clearfix">
      <div class="group_entry">
	<h1><font color="green">{% trans "ON" %}</font></h1>
	{{nb_ON}} {% trans "computers" %}<br>
        <a href="bodhi/">
            <img src="/pix/computer.png" class="photo" alt="Mac" height="80" />
        </a>
        <div class="action">    
	    <a href="bodhi/pingall"><img src="/pix/icons/down.svg" alt=" P " height="32" title="{% trans 'Ping all devices' %}" /></a>
	</div>
      </div>
      <div class="group_entry">
	<h1><font color="blue">{% trans "OFF" %}</font></h1>
	{{nb_OFF}} {% trans "computers" %}<br>
        <a href="bodhi/">
            <img src="/pix/computer.png" class="photo" alt="Mac" height="80" />
        </a>
        <div class="action">    
          <a href="bodhi/pingall"><img src="/pix/icons/down.svg" alt=" P " height="32" title="{% trans 'Ping all devices' %}" /></a>
	</div>
      </div>
    </div>
{% endblock %}
{% block status %}
    {% trans "Computers" %} : {{nb}} 
{% endblock %}

