{% load i18n %}
<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Manage remote computer"/>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
    <link rel="stylesheet" type="text/css" href="/styles/zenettic.css" />
    <link rel="shortcut icon" href="/pix/icons/favicon.png" />
  {% block head %}
    <title>Zenettic - Bodhi</title>
  {% endblock %}
</head>
<body>
    <script>
        document.body.style.backgroundImage="url(/pix/backgrounds/bamboo.jpg)";
        document.body.style.backgroundAttachment='fixed';
        document.body.style.backgroundPosition='center center';
        document.body.style.backgroundRepeat="repeat";
    </script>
    <header id="titlerow">
        <a href="/"><img id="logo" src="/pix/logo.png">Bodhi</a>
	<nav id="toolbar">
            <ul>
               <li class="ed_home"><a href="/">{% trans "Home" %}</a></li>
               <li class="ed_computer"><a href="/bodhi/">Bodhi</a></li>
	       <li class="sep">&nbsp;</li>
	       <li class="right ed_help"><a href="/help">{% trans "Help" %}</a></li>
               <li class="right ed_admin"><a href="/admin">{% trans "Admin" %}</a></li>
            </ul>
	</nav>
    </header>
    <div id="contentleft">
	    <div id="contentright">
		<div id="contenttop">
	        </div>
		<div id="content">
                  {% block main %}
                    {{ text }}
                  {% endblock %}
                </div>
    {% if error_message %}
      <div id="errorcontainer">
        <div id="errortop">
          <div id="errorheader">{% trans "ERROR" %}</div>
          <div id="errorcontent">
            {{ error_message }}
          </div>
          <div id="errorfooter"></div>
        </div>
      </div>
    {% endif %}
                <div id="footrowcontent">
		    <div id="footrow">
                    {% block status %}
                    {% endblock %}
                    </div>
	        </div>
            </div>
        </div>
   <footer>
     Version 0.4.1 beta (c) 2013 by SAMPONT Philippe
   </footer>
</body>
</html>

