{% load i18n %}
<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Manage remote computer"/>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
    <link rel="stylesheet" type="text/css" href="/styles/zenettic.css" />
    <link rel="shortcut icon" href="/pix/icons/favicon.png" />
  {% block head %}
    <title>Zenettic - Bodhi</title>
  {% endblock %}
</head>
<body>
    <script>
        document.body.style.backgroundImage="url(/pix/backgrounds/mountain.jpg)";
        document.body.style.backgroundAttachment='fixed';
        document.body.style.backgroundPosition='center center';
        document.body.style.backgroundRepeat="no-repeat";
    </script>
    <header id="titlerow">
    <a href="/"><img id="logo" src="/pix/logo.png">Bodhi</a>
    </header>
    <div id="toolbartop">
        <div id="toolbarleft">
	    <div id="toolbarright">
                <nav>
                <div id="toolbar">
                    <div id="toolbarcontent">
                        <ul>
                          <li>
                              <a href="/" class="ed_home">{% trans "Home" %}</a>
                          </li>
                          <li>
                              <a href="/bodhi/" class="ed_computer">Bodhi</a>
                          </li>
                          <li class="sep">&nbsp;</li>
                          <li class="sep">&nbsp;</li>
                          <li class="right">
                             <a href="/help" class="ed_help">{% trans "Help" %}</a>
                          </li>
                          <li class="sep">&nbsp;</li>
                          <li class="right">
                             <a href="/admin" class="ed_admin">{% trans "Admin" %}</a>
                          </li>
                        </ul>
                    </div>
                </div>
		</nav>
		<div class="content">
                  {% block main %}
                    {{ text }}
                  {% endblock %}
                </div>
    {% if error_message %}
    <div id="errorcontainer">
      <div id="errortop">
        <div id="errorheader">{% trans "ERROR" %}</div>
        <div id="errorcontent">
            {{ error_message }}
        </div>
        <div id="errorfooter"></div>
      </div>
    </div>
    {% endif %}
                <div id="footrowcontent">
                    <div id="footrow">
                    v0.4.1 beta
                    </div>
	        </div>
            </div>
        </div>
   </div>
   <footer>
     (c) 2013 by SAMPONT Philippe
   </footer>
</body>
</html>

